.Business {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 16.66rem;
  height: 20rem;
  margin: 0 .5rem 2.3rem .5rem;
  box-shadow:5px 5px 45px -14px black;
  border-radius: 10px;
}
.Business:hover{
  transition: all 200ms ease-in;
  transform: scale(1.05);
}
.Business .image-container {
  object-fit: contain;
  height: 12.66rem;
  margin-bottom: 1rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.Business h2 {
  margin-bottom: .5rem;
  margin-left: .7rem;
  font-size: 1.2rem;
  font-weight: 600;
}

.Business-information {
  display: flex;
  justify-content: space-between;
  margin-left: .7rem;
  margin-bottom: .3rem;
}

.Business-information p {
  font-size: .88rem;
  font-weight: 300;
  line-height: 1rem;
}

.Business-address {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Business-reviews {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
  margin-right: .7rem;

}

.Business-reviews h3 {
  color: #CCA353;
  font-weight: 600;

}

.Business-reviews .rating {
  font-size: .88rem;
  line-height: 1rem;
}
